<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="img_box">
        <% if @profile.image.present? %>
          <%= image_tag(@profile.image.url) %>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <h3><%= @profile.username %></h3>
      <%= simple_format(@profile.introduce) %>
      <div class="link_area">
        <% if @profile.user_id == current_user.id %>
          <%= link_to "いいね一覧", favorite_path(current_profile.id), class:"btn btn-primary" %>
          <%= link_to "プロフィール編集", edit_profile_path(current_profile.id), class:"btn btn-secondary" %>
        <% end %>
      </div>
    </div>
  </div>
  <h5 class="post_index_title">投稿一覧</h5>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-4">
        <div class="img_box">
          <% if post.image.present? %>
            <%= link_to image_tag(post.image.url), post_path(post.id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
