<div class="container">
  <div class="row">
    <div class="col-sd-6 col-md-8">
      <%= form_with(model:@post, local:true, url:posts_path) do |f| %>
        <%= f.hidden_field :content %>
        <%= f.text_area :content, class:"form-control" %>
        <%= f.hidden_field :image %>
        <div class="img_box">
          <%= image_tag(@post.image.url) %>
        </div>
        <%= f.hidden_field :image_cache %>
        <%= f.submit "投稿する", class:"btn btn-primary submit" %>
      <% end %>

      <%= form_with(model:@post, local:true, url: new_post_path, method:"get") do |f| %>
        <%= f.hidden_field :content %>
        <%= f.hidden_field :image_cache %>
        <%= f.submit "戻る", name:"back", class:"btn btn-dark submit" %>
      <% end %>
    </div>
    <div class="col-md-4 align-self-start">
      <% if current_user.present? %>
        <% if current_profile.present? %>
          <div class="img_box">
            <% if current_profile.image.present? %>
              <%= image_tag(current_profile.image.url) %>
            <% end %>
          </div>
          <h3><%= link_to current_profile.username, profile_path(current_profile.id) %></h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
