<div class="container">
  <div class="row">
    <div class="col-sd-6 col-md-8">
      <%= @post.profile.username %>
      <div class="img_box">
        <%= image_tag(@post.image.url) %>
      </div>
      <%= simple_format(@post.content) %>
      <div class="link_area">
        <% unless @post.profile_id == current_profile.id %>
          <% if @favorite.present? %>
            <%= link_to "お気に入り解除", favorite_path(id: @favorite.id), method: :delete %>
          <% else %>
            <%= link_to "お気に入り登録", favorites_path(post_id: @post.id), method: :post %>
          <% end %>
        <% end %>
        <% if @post.profile_id == current_profile.id %>
          <%= link_to "編集する", edit_post_path(@post.id) %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, data:{ confirm:"削除して良い？" } %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 align-self-start">
      <% if current_user.present? %>
        <% if current_profile.present? %>
          <div class="img_box">
            <% if current_profile.image.present? %>
              <%= image_tag(current_profile.image.url) %>
            <% end %>
          </div>
          <h3><%= current_profile.username %></h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
